{{!-- {{outlet}} --}}
<div local-class="train-container">
    <div local-class="menu">
        <div local-class="title">
            <img src="/assets/images/logo_train.png" alt="">
            <span>铁马模拟平台</span>
        </div>
        <div local-class="user">
            <p> ALex Guo<span class="glyphicon glyphicon-triangle-bottom"></span></p>
        </div>
        <ul>
            <li><span class="glyphicon glyphicon-th-large"></span> 模拟训练</li>
            <li><span class="glyphicon glyphicon-tasks"></span> 历史报告</li>
        </ul>
    </div>
    <div local-class="content">
        {{!-- <div local-class="checkpoint">
            <span local-class="title">关卡名称</span>

            <span local-class="btn-simulation" {{action 'simulation'}}>进入模拟<span class="glyphicon glyphicon-menu-right"></span></span>
        </div> --}}
        {{#if checkpoints}}
            {{#each checkpoints as |item|}}
                <div local-class="checkpoint">
                    <span local-class="title">{{item.name}}</span>

                    <span local-class="btn-simulation" {{action 'simulation' item.id}}>进入模拟<span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
            {{/each}}
        {{else}}
            <h2>Error</h2>
        {{/if}}

    </div>
</div>
