<div local-class="talent-container">
    {{!-- <div local-class="title-bar">
        <span local-class="date">{{currentMonth}}月份计划部署</span>
        <span local-class="setting"> <img src="/assets/images/hosp-setting.png" alt=""> </span>
    </div> --}}
    {{nav-title month}}
    <div local-class="menu-bar">
        <div local-class="menu menu-left">
            <span>通知</span>
            <span>信息库</span>
            <span>当前部署分析</span>
        </div>
        <div local-class="menu menu-right">
            {{#bs-dropdown tagName="span" local-class="budget" as |bb|}}
                {{#bb.toggle}}预算 <span class="caret"></span>{{/bb.toggle}}
                {{#bb.menu local-class='tips-container' as |menu|}}
                    {{#menu.item local-class='budget-tip' }}
                        <div local-class="triangle"></div>
                        <div local-class="rectangle">
                            <p local-class="budget-text"> <span>预算</span> <span>{{number-format budget.used}}/{{number-format budget.total}}</span> <span>{{budgetPerc}}%</span> </p>
                            <div local-class="self-progress" class="progress">
                                {{#bs-progress as |p|}}
                                    {{p.bar value=budgetPerc local-class="self-progress-bar"}}
                                {{/bs-progress}}
                            </div>
                        </div>
                    {{/menu.item}}
                {{/bb.menu}}
            {{/bs-dropdown}}
            {{#bs-dropdown tagName="span" local-class="human" as |dd|}}
                {{#dd.toggle}}人力 <span class="caret"></span>{{/dd.toggle}}
                {{#dd.menu local-class='tips-container' as |menu|}}
                    {{#menu.item local-class='human-tip' }}
                        <div local-class="triangle"></div>
                        <div local-class="rectangle">
                            {{#each manpowerPerc as |item|}}
                                <p local-class="human-text"> <span>{{item.name}}</span> <span>{{item.used}}/{{item.total}}天</span> <span>{{item.percent}}%</span> </p>
                                <div local-class="self-progress" class="progress">
                                    {{#bs-progress as |p|}}
                                        {{p.bar value=item.percent local-class="self-progress-bar"}}
                                    {{/bs-progress}}
                                </div>
                            {{/each}}

                        </div>
                    {{/menu.item}}
                {{/dd.menu}}
            {{/bs-dropdown}}
            <span local-class="btn-submit">提交执行 <span class="glyphicon glyphicon-menu-right"></span> </span>
        </div>
    </div>
    <div local-class="content container" class="container">
        <div local-class="close">
            <img src="/assets/images/talent-close.jpg" alt="">
        </div>
        <div class="row" local-class="contain">
            {{!-- <div class="col-md-3 col-sm-3 col-xs-3" local-class="lump">
                <div local-class="con-left">
                    <p local-class="title">经理时间分配</p>
                    <div local-class="left-lump-input">
                    </div>
                    <div local-class="left-lump-input">
                    </div>
                    <div local-class="left-lump-input">
                    </div>
                    <div local-class="left-lump-show">
                    </div>
                    <div local-class="left-lump-show">
                    </div>
                </div>
            </div> --}}
            {{!-- <div class="col-md-9 col-sm-9 col-xs-9" local-class="lump">
                <div local-class="con-right">
                    <p local-class="title">成员能力概况</p>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                    <div local-class="right-lump">
                    </div>
                </div>
            </div> --}}
        </div>

    </div>
</div>
