<div local-class="talent-container">
    {{nav-title data=month}}
    {{nav-tool data=dropdownData submit=(action 'submitRun')}}
    <div local-class="content container" class="container">
        <div local-class="close">
            <img src="/assets/images/talent-close.jpg" {{action "backPrev"}} alt="">
        </div>
        <div class="row" local-class="contain">
            {{manager-times }}
            {{all-rep model isShowList showDetail=(action "showDetail") hideDetail=(action 'hideDetail') }}
        </div>
    </div>
</div>
