<div local-class="detail-container">
	{{nav-title month}}
	{{nav-tool data=dropdownData submit=(action "submitRun") onclick=(action "talent")}}
	<div local-class="content">
		{{hospital-nav backHospList=(action 'backHospList')}}
		{{hospital-detail model}}
	</div>
</div>
{{outlet}}
