<div local-class="detail-container">
	{{nav-title data=month}}
	{{nav-tool data=dropdownData submit=(action "submitRun") onclick=(action "talent")}}
	<div local-class="content">
		{{hospital-nav backHospList=(action 'backH')}}
		{{hospital-detail hospDetail}}
	</div>
</div>
{{outlet}}
