<div local-class="detail-container">
	<div local-class="content">
		<div local-class="hosp-nav" class="container"></div>
		<div local-class="hosp-detail" class="container">
			<div local-class="basic-info" class="row">
				<div local-class="select">
					{{#bs-dropdown local-class="title" tagName="span" as |dd|}}
					  {{#dd.toggle}}整体销售表现<span class="caret"></span>{{/dd.toggle}}
					  {{#dd.menu local-class="ull" as |menu|}}
					    {{#menu.item}}
					      {{#menu.link-to "pharbers.v1.result.hospital-report"}}医院-产品销售报告{{/menu.link-to}}
					    {{/menu.item}}
					    {{menu.divider}}
					    {{#menu.item}}
					      {{#menu.link-to "pharbers.v1.result.represent-report"}}代表-产品销售报告{{/menu.link-to}}
					    {{/menu.item}}
					    {{menu.divider}}
					    {{#menu.item}}
					      {{#menu.link-to "pharbers.v1.result.resource"}}资源投入与产出{{/menu.link-to}}
					    {{/menu.item}}
						{{menu.divider}}
						{{#menu.item}}
					      {{#menu.link-to "pharbers.v1.result.represent"}}代表指标与资源{{/menu.link-to}}
					    {{/menu.item}}
					  {{/dd.menu}}
					{{/bs-dropdown}}
				</div>
				<div local-class="overview">
					{{#each overviewData as |item|}}
						{{overview-number itemData=item}}
					{{/each}}

				</div>

			</div>
			<div local-class="medicine-info">
				<div local-class="medicine">
					<div local-class="right-content">
						{{self-table model=columnsHospitalValue columns=columnsHospital selfheight='480px'}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
