{{!-- <div local-class="detail-container">
	{{nav-title month}}
	{{nav-tool data=dropdownData submit=(action "submitRun") onclick=(action "talent")}}
	<div local-class="content">
		{{hospital-nav backHospList=(action 'backHospList')}}
		{{hospital-detail model}}
	</div>
</div> --}}

<div local-class="content">
	{{hospital-nav current=hospid  data=hospIdList backHospList=(action 'backHospList') preHosp=(action 'preHosp') nextHosp=(action 'nextHosp')}}
	{{hospital-detail model uuid=uuid allBudget=allBudget totalRepresents=totalRepresents chooseRep=(action 'chooseRep')}}
</div>

{{outlet}}
