{{!-- {{outlet}} --}}
<div local-class="hosp-container">
	<div local-class="title-bar">
		<span local-class="date">{{currentMonth}}月份计划部署</span>
		<span local-class="setting"> <img src="/assets/images/hosp-setting.png" alt=""> </span>
	</div>
	<div local-class="menu-bar">
		<div local-class="menu menu-left">
			<span>通知</span>
			<span>信息库</span>
			<span>当前部署分析</span>
		</div>
		<div local-class="menu menu-right">
			{{#bs-dropdown tagName="span" local-class="budget" as |bb|}}
				{{#bb.toggle}}预算 <span class="caret"></span>{{/bb.toggle}}
				{{#bb.menu local-class='tips-container' as |menu|}}
					{{#menu.item local-class='budget-tip' }}
						<div local-class="triangle"></div>
						<div local-class="rectangle">
							<p local-class="budget-text"> <span>预算</span> <span>{{number-format budget.used}}/{{number-format budget.total}}</span> <span>{{budgetPerc}}%</span> </p>
				 			<div local-class="self-progress" class="progress">
								{{#bs-progress as |p|}}
									{{p.bar value=budgetPerc local-class="self-progress-bar"}}
								{{/bs-progress}}
							</div>
						</div>
					{{/menu.item}}
				{{/bb.menu}}
			{{/bs-dropdown}}
			{{#bs-dropdown tagName="span" local-class="human" as |dd|}}
				{{#dd.toggle}}人力 <span class="caret"></span>{{/dd.toggle}}
				{{#dd.menu local-class='tips-container' as |menu|}}
					{{#menu.item local-class='human-tip' }}
						<div local-class="triangle"></div>
						<div local-class="rectangle">
							{{#each manpowerPerc as |item|}}
								<p local-class="human-text"> <span>{{item.name}}</span> <span>{{item.used}}/{{item.total}}天</span> <span>{{item.percent}}%</span> </p>
								<div local-class="self-progress" class="progress">
									{{#bs-progress as |p|}}
										{{p.bar value=item.percent local-class="self-progress-bar"}}
									{{/bs-progress}}
								</div>
							{{/each}}

						</div>
					{{/menu.item}}
				{{/dd.menu}}
			{{/bs-dropdown}}
			{{!-- <span local-class="budget" {{action 'budget'}}>é¢ç® <span class="glyphicon glyphicon-triangle-bottom"></span> </span> --}}
			{{!-- <span local-class="human" {{action 'human'}}>äººå <span class="glyphicon glyphicon-triangle-bottom"></span> </span> --}}
			<span local-class="btn-submit">提交执行 <span class="glyphicon glyphicon-menu-right"></span> </span>
		</div>
		{{!-- {{#if budgetTip}}
			<div local-class="budget-tip">
				<div local-class="triangle"></div>
				<div local-class="rectangle">
					<p local-class="budget-text"> <span>预算</span> <span>{{budget.used}}/{{budget.total}}</span> <span>{{budgetPerc}}%</span> </p>
					<div local-class="self-progress" class="progress">
						{{#bs-progress as |p|}}
							{{p.bar value=budgetPerc local-class="self-progress-bar"}}
						{{/bs-progress}}
					</div>
				</div>
			</div>
		{{/if}}
		{{#if humanTip}}
			<div local-class="human-tip">
				<div local-class="triangle"></div>
				<div local-class="rectangle">
					{{#each manpowerPerc as |item|}}
						<p local-class="human-text"> <span>{{item.name}}</span> <span>{{item.used}}/{{item.total}}天</span> <span>{{item.percent}}%</span> </p>
						<div local-class="self-progress" class="progress">
							{{#bs-progress as |p|}}
								{{p.bar value=item.percent local-class="self-progress-bar"}}
							{{/bs-progress}}
						</div>
					{{/each}}

				</div>
			</div>
		{{/if}} --}}

	</div>
	<div local-class="content">

		{{#each hospitalList as |item|}}
			<div local-class="hosp-item" {{action 'hospDetail' item.hospid}}>
				<div local-class="hosp-intro">
					<div local-class="basic-info">
						<img local-class="avatar" src="/assets/images/hosp_avatar.png" alt="">
						<div local-class="name">
							<p>{{item.name}}</p>
							<p>{{item.level}}</p>
						</div>
					</div>
					<p local-class="highlight"> <span>特色科室</span> <span>{{item.department}}</span> </p>
					<p local-class="highlight"> <span>病床数量</span> <span>{{number-format item.beds}}</span> </p>
					<p local-class="highlight"> <span>门诊人次/年</span> <span>{{number-format item.outpatient}}</span> </p>
					<p local-class="highlight"> <span>手术台数/年</span> <span>{{number-format item.surgery}}</span> </p>
					<div local-class="user-info">
						{{#each item.representives as |value|}}
							<p>{{value.name}}</p>
							<img src= {{value.avatar}} alt="">
						{{/each}}
					</div>
				</div>
				<div local-class="medicine-container">
					{{#each item.medicines as |medic|}}
						<div local-class="medicine-item">
							<p local-class="title">{{medic.name}}</p>
							<p local-class="potential"><span>药品潜力</span><span>{{number-format medic.potential}}</span></p>
							<div local-class="parameter">
								<div local-class="sell-money param-item">
									<p>上期销售额</p>
									<p>{{number-format medic.previoussales}}</p>
								</div>
								<div local-class="contribution param-item">
									<p>贡献率</p>
									<p>{{number-to-percent medic.contributionrate}}%</p>
								</div>
								<div local-class="share param-item">
									<p>份额</p>
									<p>{{number-to-percent medic.share}}%</p>
								</div>
							</div>
						</div>
					{{/each}}
					{{!-- <div local-class="medicine-item">
						<p local-class="title">口服抗生素</p>
						<p local-class="potential"><span>药品潜力</span><span>5,940,000</span></p>
						<div local-class="parameter">
							<div local-class="sell-money param-item">
								<p>上期销售额</p>
								<p>5,958,542</p>
							</div>
							<div local-class="contribution param-item">
								<p>贡献率</p>
								<p>5%</p>
							</div>
							<div local-class="share param-item">
								<p>份额</p>
								<p>12%</p>
							</div>
						</div>
					</div> --}}
					{{!-- <div local-class="medicine-item">
						<p local-class="title">口服抗生素</p>
						<p local-class="potential"><span>药品潜力</span><span>5,940,000</span></p>
						<div local-class="parameter">
							<div local-class="sell-money param-item">
								<p>上期销售额</p>
								<p>5,958,542</p>
							</div>
							<div local-class="contribution param-item">
								<p>贡献率</p>
								<p>5%</p>
							</div>
							<div local-class="share param-item">
								<p>份额</p>
								<p>12%</p>
							</div>
						</div>
					</div> --}}

					{{!-- <div local-class="medicine-item">
						<p local-class="title">口服抗生素</p>
						<p local-class="potential"><span>药品潜力</span><span>5,940,000</span></p>
						<div local-class="parameter">
							<div local-class="sell-money param-item">
								<p>上期销售额</p>
								<p>5,958,542</p>
							</div>
							<div local-class="contribution param-item">
								<p>贡献率</p>
								<p>5%</p>
							</div>
							<div local-class="share param-item">
								<p>份额</p>
								<p>12%</p>
							</div>
						</div>
					</div> --}}
				</div>
			</div>
		{{/each}}
	</div>
</div>
