<div local-class="container">
	{{nav-title month}}
	{{nav-tool data=model.budgetInfo cookies=cookies uuid=model.uuid submit=(action "submitRun") onclick=(action "talent")}}
	{{outlet}}
</div>

<div class="{{decisionInfo.slideClassNames}}">
	{{#if (eq navid 'decision')}}
		{{leader-decision model.managerRep model.uuid close=(action 'close')}}
	{{else if (eq navid 'notice')}}
		<div class="">
			<h2>ddddddd</h2>
		</div>
	{{else}}
		<h2>cccccccc</h2>
	{{/if}}
</div>
