{{!-- {{yield}} --}}
<div local-class="block" itemData=ovData>
	<p local-class="head">{{itemData.title}}</p>
	{{#if (eq itemData.type 'sales')}}
		<p local-class="data">{{number-format itemData.value}}</p>
	{{/if}}

	{{#if (eq itemData.type 'percent')}}
		<p local-class="data">
			{{#if (eq itemData.ext.change 'up')}}
				<span class="glyphicon glyphicon-triangle-top" local-class="up"></span>
			{{/if}}
			{{#if (eq itemData.ext.change 'down')}}
				<span class="glyphicon glyphicon-triangle-bottom" local-class="down"></span>
			{{/if}}
			{{itemData.value}}%</p>
	{{/if}}
	{{#if (eq itemData.type 'info')}}
		<p local-class="center">{{itemData.value}}</p>
		<div local-class="tab">
			{{#if (eq itemData.ext.sub.type 'title')}}
				<p local-class="share">
					{{number-format itemData.ext.sub.value}}
				</p>
				<p local-class="num">
					{{#if (eq itemData.ext.sub.ext.change 'up')}}
						<span class="glyphicon glyphicon-triangle-top" local-class="up"></span>
					{{/if}}
					{{#if (eq itemData.ext.sub.ext.change 'down')}}
						<span class="glyphicon glyphicon-triangle-bottom" local-class="down"></span>
					{{/if}}
					{{#if (eq itemData.ext.sub.ext.type 'sales')}}
						{{number-format itemData.ext.sub.ext.value}}
					{{/if}}
					{{#if (eq itemData.ext.sub.ext.type 'percent')}}
						{{itemData.ext.sub.ext.value}}%
					{{/if}}
				</p>
			{{/if}}
			{{#if (eq itemData.ext.sub.type 'percent')}}
				<p local-class="share">
					{{itemData.ext.sub.title}}
					{{itemData.ext.sub.value}}%
				</p>
				<p local-class="num">
					{{#if (eq itemData.ext.sub.ext.change 'up')}}
						<span class="glyphicon glyphicon-triangle-top" local-class="up"></span>
					{{/if}}
					{{#if (eq itemData.ext.sub.ext.change 'down')}}
						<span class="glyphicon glyphicon-triangle-bottom" local-class="down"></span>
					{{/if}}
					{{#if (eq itemData.ext.sub.ext.type 'sales')}}
						{{number-format itemData.ext.sub.ext.value}}
					{{/if}}
					{{#if (eq itemData.ext.sub.ext.type 'percent')}}
						{{itemData.ext.sub.ext.value}}%
					{{/if}}
				</p>
			{{/if}}
		</div>
	{{/if}}
</div>
